<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Design Showcase</title>
    <link rel="stylesheet" href="../static/css/style-vd.css">
</head>
<body class="body-vd">
    <!-- <header class="header-vd">
    </header> -->
    <main class="main-vd">
        <div class="overlay-text-vd">
        <div class="nav-links-vd">
            <a href="about.html" class="nav-item-vd">about</a>
            <a href="photography.html" class="nav-item-vd">photography</a>
            <a href="visual-design.html" class="nav-item-vd">visual design</a>
            <a href="#" class="nav-item-vd">projects</a>
        </div>
        <a href="index.html" class="nav-item nav-name">
            <img src="../static/images/homepageimages/ajwStamp.jpg" alt="Your Name Logo" class="name-logo">
        </a>
        </div>
        <h1>Visual Design Collections</h1>
        <section class="collections-list">
        <a href="01_Zine.html" class="collection-item">
            <img src="../static/images/visualDesign/01_Zine_P01.jpg" alt="01_Zine Thumbnail">
            <span>01_Zine</span>
        </a>
        <a href="backseat_Zine.html" class="collection-item">
            <img src="../static/images/backseat_zine/backseat_zine_P01.jpg" alt="01_Zine Thumbnail">
            <span>Backseat Zine</span>
        </a>
        <a href="backseat_Zine.html" class="collection-item">
            <img src="../static/images/backseat_zine/backseat_zine_P01.jpg" alt="01_Zine Thumbnail">
            <span>Backseat Zine</span>
        </a>
            <!-- Add more collection items here -->
        </section>
    </main>
    <!-- <footer>
        <p>&copy; 2025 Amelie Wu. All rights reserved.</p>
    </footer> -->
    <script src="../static/js/scripts.js"></script>
</body>
</html>






